<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Manut_Smart"
        tools:targetApi="31">
        <activity
            android:name=".technical.RepairHistory_technical"
            android:exported="false" />
        <activity
            android:name=".admin.Departments.EnableDesableDepartmet.EnableDisableDepartmentsAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Devices.SubMenuDeviceAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Departments.SubMenuDepartmentAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Technician.SubMenuTechnicianAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Technician.List_Tec_Admin"
            android:exported="false" />
        <activity
            android:name=".admin.Technician.RegisterTechnicianAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Departments.CreateDepartmentAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Devices.EnableDisableDevices.EnableDisableDevicesAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Devices.RegisterDeviceAdminActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.Repair_history"
            android:exported="false" />
        <activity
            android:name=".technical.Finish_Repair_description"
            android:exported="false" />
        <activity
            android:name=".technical.Finish_repair_technical"
            android:exported="false" />
        <activity
            android:name=".technical.Pending_repair"
            android:exported="false" />
        <activity
            android:name=".user.List_repairs_cliente"
            android:exported="false" />
        <activity
            android:name=".technical.MenuTechnicalActivity"
            android:exported="false" />
        <activity
            android:name=".user.MenuUserActivity"
            android:exported="false" />
        <activity
            android:name=".admin.MenuAdminActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>